<div class="flex py4 justify-center">
  <input
    class="py-2"
    type="text"
    name="query"
    [(ngModel)]="query"
    #input
    required
    id="query"
    placeholder="GIF Search"
  />
  <button
    class="bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 shadow rounded"
    (click)="search($event)"
  >
    Search
  </button>
</div>

<div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-4"
        *ngFor="
          let obj of giphyData
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: collectionSize
                };
          let i = index
        "
      >
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            [src]="obj.images.fixed_width.url"
            alt="Card image cap"
            width="150px"
            height="350px"
          />
          <div class="card-body">
            <p class="card-text">{{ obj.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination-controls
  *ngIf="collectionSize > 0"
  (pageChange)="gty((page = $event))"
  class="d-flex justify-content-center"
></pagination-controls>
